.detailed-factura-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.detailed-factura-content {
  background: var(--background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.detailed-factura-content.light {
  background: var(--background-light);
}

.detailed-factura-content.dark {
  background: var(--background-dark);
}

.close-modal-btn {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}

.close-modal-btn:hover {
  background: #ff1c1c;
}
