/* src/components/facturas/modal-de-escaneo-de-facturas.css */

.ModalDeEscaneoDeFacturas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 30px; /* Aumenta el padding para que no se pegue a los bordes */
}

.ModalDeEscaneoDeFacturas-content {
  color: var(--text);
  padding: 30px; /* Aumenta el padding para mayor espacio interno */
  border-radius: 10px; /* Bordes más redondeados */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  width: 95%; /* Aumenta el ancho al 95% del viewport */
  max-width: 1000px; /* Máximo ancho */
  max-height: 85%; /* Aumenta ligeramente la altura máxima */
  overflow-y: auto; /* Desplazamiento vertical si es necesario */
  background-color: var(--background);
  margin: auto; /* Centrado vertical y horizontal */
}

.ModalDeEscaneoDeFacturas-close-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Aumenta ligeramente el tamaño de la fuente */
  padding: 12px; /* Aumenta el padding para mejorar la apariencia */
  position: absolute;
  top: 15px;
  right: 15px;
}

.ModalDeEscaneoDeFacturas-close-btn:hover {
  background-color: #e53935;
}

.scan-invoice-form {
  max-width: 100%;
  padding: 30px; /* Aumenta el padding interno */
  background-color: var(--background);
  color: var(--text);
  border-radius: 10px; /* Bordes más redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.scan-invoice-form h1 {
  font-size: 26px; /* Aumenta el tamaño de la fuente */
  margin-bottom: 25px; /* Más espacio debajo del título */
}

.scan-invoice-form h2 {
  font-size: 22px; /* Aumenta el tamaño de la fuente */
  margin: 25px 0 15px; /* Más espacio alrededor del subtítulo */
}

.scan-invoice-form input[type="file"] {
  width: calc(100% - 16px); /* Ajusta el ancho del input */
  padding: 12px; /* Aumenta el padding para mejor usabilidad */
  margin-bottom: 15px; /* Mayor espacio entre los elementos */
  border: 1px solid #ccc;
  border-radius: 5px; /* Bordes más redondeados */
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text);
}

.scan-invoice-form table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px; /* Aumenta el espacio debajo de la tabla */
}

.scan-invoice-form th,
.scan-invoice-form td {
  border: 1px solid #444;
  padding: 10px; /* Aumenta el padding para mayor comodidad */
}

.scan-invoice-form th {
  background-color: var(--secondary);
}

.scan-invoice-form button {
  display: inline-block;
  padding: 12px 25px; /* Aumenta el padding para un botón más grande */
  margin-top: 25px; /* Aumenta el espacio sobre los botones */
  margin-right: 15px;
  font-size: 18px; /* Aumenta el tamaño de la fuente para mayor legibilidad */
  border: none;
  border-radius: 5px; /* Bordes más redondeados */
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
}

.scan-invoice-form button:hover {
  background-color: var(--button-hover-bg);
}

.scan-invoice-form button:last-of-type {
  background-color: var(--button-bg-secondary);
}

.scan-invoice-form button:last-of-type:hover {
  background-color: var(--button-hover-bg-secondary);
}

.progress-bar {
  width: 100%;
  background-color: var(--secondary);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 15px; /* Aumenta el margen inferior */
}

.progress {
  height: 22px; /* Aumenta la altura de la barra de progreso */
  background-color: var(--button-bg);
  width: 0%;
}
