:root {
    --background-light: #f8f1ec;
    --background-dark: #333333;
    --text-light: #000000;
    --text-dark: #ffffff;
    --primary-light: #d9bfae;
    --primary-dark: #4a4a4a;
    --secondary-light: #ddd;
    --secondary-dark: #555;
  
    --button-bg-light: #ffffff;
    --button-border-light: #000000;
    --button-text-light: #000000;
  
    --button-bg-dark: #333333;
    --button-border-dark: #ffffff;
    --button-text-dark: #ffffff;
  
    --header-bg-light: #ddd;
    --header-bg-dark: #444444;
    --header-text-light: #000;
    --header-text-dark: #fff;
  
    --search-button-bg-light: #fff;
    --search-button-border-light: #000;
    --search-button-text-light: #000;
  
    --search-button-bg-dark: #444;
    --search-button-border-dark: #fff;
    --search-button-text-dark: #fff;
  
    --create-button-bg-light: #09BC8A;
    --create-button-bg-dark: #006B5A;
  }
  
  .modalcrearcliente {
      display: block; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-contentmodalcrearcliente {
      margin: 10% auto; 
      padding: 20px;
      width: 80%; 
      max-width: 800px;
      border-radius: 5px;
      position: relative;
  }
  
  .modal-contentmodalcrearcliente.light {
      background-color: var(--background-light);
      border: 1px solid var(--secondary-light);
      color: var(--text-light);
  }
  
  .modal-contentmodalcrearcliente.dark {
      background-color: var(--background-dark);
      border: 1px solid var(--secondary-dark);
      color: var(--text-dark);
  }
  
  .close {
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  
  .close.light {
      color: var(--text-light);
  }
  
  .close.dark {
      color: var(--text-dark);
  }
  
  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  
  .form-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
  }
  
  .form-grid div {
      display: flex;
      flex-direction: column;
  }
  
  .form-grid label {
      margin-bottom: 5px;
      font-weight: bold;
  }
  
  .label.light {
      color: var(--text-light);
  }
  
  .label.dark {
      color: var(--text-dark);
  }
  
  .form-grid input,
  .form-grid select {
      padding: 10px;
      border-radius: 5px;
  }
  
  input.light,
  select.light {
      border: 1px solid var(--secondary-light);
      background-color: var(--background-light);
      color: var(--text-light);
  }
  
  input.dark,
  select.dark {
      border: 1px solid var(--secondary-dark);
      background-color: var(--background-dark);
      color: var(--text-dark);
  }
  
  button[type="submit"] {
      grid-column: span 2;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
  }
  
  button[type="submit"].light {
      background-color: var(--background-light);
      color: var(--button-text-light);
      border: 1px solid var(--button-border-light);
  }
  
  button[type="submit"].dark {
      background-color: var(--background-dark);
      color: var(--button-text-dark);
      border: 1px solid var(--button-border-dark);
  }
  
  button[type="submit"]:hover.light {
      background-color: var(--primary-light);
  }
  
  button[type="submit"]:hover.dark {
      background-color: var(--primary-dark);
  }
  
  .required {
      color: red;
  }
  