.main-widget {
  width: 100% !important;
  height: 90vh;
}

.pestaña-economia {
  height: 100%;
}

.widget-background {
  width: 100%;
  background: var(--background);
  color: var(--text);
}

.Ecolayout {
  height: 1000px !important;
}

.react-grid-layout {
  position: relative;
  z-index: 1; /* Asegura que los elementos del grid no sobrescriban al dropdown */
}

.react-grid-layout .Ecolayout {
  height: 10px;
}

.react-grid-layout .Transaccioneslayout {
  height: 1000px !important; 
}
.buttons-container {
  margin-top: 10px;
}
.Prevdropdown-content.dark {
  background-color: #444;
  color: #fff;
}

.Prevdropdown-content.light {
  background-color: #f9f9f9;
  color: #333;
}

.btn-view-crm, .btn-view-stripe, .btn-view-bank {
  display: inline-block;
  margin-right: 5px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.panelcontrol-navegador.dark .panelcontrol-nav-btn {
  color: white; /* Cambia el color del texto a blanco */
}

.btn-view-crm:hover, .btn-view-stripe:hover, .btn-view-bank:hover {
  background-color: #0056b3;
}

.Transaccioneslayout {
  padding-top: 10px;
  width: 100% !important;
  height: 100px !important;
}

.panelcontrol-widget {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.cssTransforms.react-grid-item.react-resizable.react-resizable-hide.widget {
  width: 10000px;
  z-index: auto; /* Asegúrate de que los widgets dentro del grid no interfieran con el dropdown */

}

.widget-background {
  background: var(--background);
  padding: 20px;
  padding-left: 0px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 10000px;
  box-sizing: border-box;
}

.open-popup-btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.empty-widget {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;  /* Centra verticalmente */
  height: 100%;
  border: 2px dashed #ccc;  /* Marco visible */
  background-color: rgba(255, 255, 255, 0.3);  /* Fondo blanco semitransparente */
  border-radius: 10px;  /* Bordes redondeados para un mejor diseño */
}

.empty-widget-border {
  text-align: center;
}

.empty-widget button {
  font-size: 24px;  /* Tamaño de fuente más grande para el botón */
  background-color: #f0f0f0;  /* Fondo claro para el botón */
  border: none;  /* Sin bordes en el botón */
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.empty-widget button:hover {
  background-color: #e0e0e0;  /* Cambio de color al pasar el ratón */
}

.widget {
  background: var(--primary);
  padding: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  color: var(--text);
  border-radius: 10px;
  z-index: 5; /* Este es lo suficientemente bajo como para que el dropdown lo sobrescriba */

}

.widget .widget-drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  cursor: move;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px 10px 0 0;
}

.widget-remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.edit-mode-btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.boton-popup-edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.widget-background h1 {
  color: var(--text);
  margin-left: 20px;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  background-color: var(--secondary);
  color: var(--text);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.overviewChart-widget .panelcontrol-overview {
  width: 99.99%;
}

.ingresosbeneficios-widget {
  width: 99.99%;
  height: 99.99%;
}

.NavBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.NavBtn .boton-popup-edit {
  align-items: flex-end;
  position: absolute;
  right: 25px;
}
.Prevfilter-field {
  margin-bottom: 10px;
}

.Prevfilter-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.widget-filter-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.widget-filter-input.dark {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

.widget-filter-input.light {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.ingreso-button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.ingreso-button.dark {
  background-color: #444;
  color: #fff;
}

.ingreso-button.light {
  background-color: #eee;
  color: #333;
}
.empty-widget select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.empty-widget button {
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #555;
}

.empty-widget-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px dashed #ccc;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  text-align: center;
}
