/* Variables de tema */
:root {
  --background-light: #eee3dd;
  --background-dark: #333333;
  --text-light: #000000;
  --text-dark: #f7fafc;
  --input-bg-light: #ffffff;
  --input-bg-dark: #2a2a2a;
  --input-border-light: #000000;
  --input-border-dark: #333333;
  --button-bg-light: #ffffff;
  --button-bg-dark: #444444;
  --button-text-light: #000000;
  --button-text-dark: #f7fafc;
  --button-hover-bg-light: #ddd;
  --button-hover-bg-dark: #333;
}

/* Popup */
.Modalcreacionplanes-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilos para el contenido del popup en modo claro y oscuro */
.Modalcreacionplanes-popup-content {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.Modalcreacionplanes-popup-content.light {
  background: var(--background-light);
  color: var(--text-light);
}

.Modalcreacionplanes-popup-content.dark {
  background: var(--background-dark);
  color: var(--text-dark);
}

.Modalcreacionplanes-popup-content h3 {
  margin-bottom: 20px;
}

.Modalcreacionplanes-popup-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Modalcreacionplanes-popup-content label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para los inputs y selects */
.Modalcreacionplanes-popup-content.light input,
.Modalcreacionplanes-popup-content.light select {
  background: var(--input-bg-light);
  border: 1px solid var(--input-border-light);
  color: var(--text-light);
}

.Modalcreacionplanes-popup-content.dark input,
.Modalcreacionplanes-popup-content.dark select {
  background: var(--input-bg-dark);
  border: 1px solid var(--input-border-dark);
  color: var(--text-dark);
}

.Modalcreacionplanes-popup-content input,
.Modalcreacionplanes-popup-content select {
  padding: 5px;
  border-radius: 4px;
}

/* Botones */
.Modalcreacionplanes-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.Modalcreacionplanes-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Modalcreacionplanes-buttons.light button {
  background: var(--button-bg-light);
  color: var(--button-text-light);
}

.Modalcreacionplanes-buttons.dark button {
  background: var(--button-bg-dark);
  color: var(--button-text-dark);
}

.Modalcreacionplanes-buttons.light button:hover {
  background: var(--button-hover-bg-light);
}

.Modalcreacionplanes-buttons.dark button:hover {
  background: var(--button-hover-bg-dark);
}
