/* AjustesDeAlertas.css */
.ajustes-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.ajustes-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.ajustes-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.ajustes-close:hover,
.ajustes-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ajustes-alertas-list {
    max-height: 300px;
    overflow-y: auto;
}

.ajustes-alerta-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ajustes-alerta-item label {
    color: #000; /* Cambiar el color de la fuente */
}

.ajustes-tipo-section {
    margin-bottom: 20px;
}

.ajustes-tipo-section h3 {
    margin-top: 0;
    color: #333;
    display: flex;
    align-items: center;
}

.ajustes-tipo-section .ajustes-alertas-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.ajustes-save-button {
    background-color: #ff7373;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.ajustes-save-button:hover {
    background-color: #ff4c4c;
}
