/* src/Chater.css */
.Chater-column {
    width: 30%;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Chater-column h3 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.Chater-chater-container {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 10px;
}

/* Custom scrollbar styles */
.Chater-chater-container::-webkit-scrollbar {
    width: 10px;
}

.Chater-chater-container::-webkit-scrollbar-track {
    background: #444;
    border-radius: 10px;
}

.Chater-chater-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.Chater-chater-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Chater-item {
    background-color: #d5f4f2;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Chater-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Chater-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
}

.Chater-profile-pic-large {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.Chater-item p {
    margin: 5px 0;
    font-size: 16px;
    color: #2a2a2a;
}

.Chater-status-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Chater-date {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}

.Chater-modal {
    display: flex;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.Chater-modal-content {
    background-color: #E6F2F1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    pointer-events: auto;
    z-index: 10000000;
}

.Chater-close {
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.Chater-modal-body {
    flex-grow: 1;
    padding: 15px;
    background-color: #EBF7EE;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.Chater-modal-body::-webkit-scrollbar {
    width: 10px;
}

.Chater-modal-body::-webkit-scrollbar-track {
    background: #E6F2F1;
    border-radius: 10px;
}

.Chater-modal-body::-webkit-scrollbar-thumb {
    background: #39393A;
    border-radius: 10px;
}

.Chater-modal-body::-webkit-scrollbar-thumb:hover {
    background: #5B5E5E;
}

.Chater-message {
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Chater-message.received {
    align-self: flex-start;
    background-color: #F6FFE8;
}

.Chater-message.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
}

.Chater-message p {
    margin: 0;
    color: #39393A;
}

.Chater-modal-date {
    font-size: 12px;
    color: #7E8383;
    align-self: flex-end;
    margin-top: 5px;
}

.Chater-modal-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #B2BBBA;
}

.Chater-input {
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #989F9F;
    margin-right: 10px;
    font-size: 16px;
}

.Chater-send-button {
    background-color: #39393A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.Chater-send-button:hover {
    background-color: #5B5E5E;
}
