.Checkins-column {
    width: 30%;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Checkins-column h3 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.Checkins-checkins-container {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 10px;
}

/* Custom scrollbar styles */
.Checkins-checkins-container::-webkit-scrollbar {
    width: 10px;
}

.Checkins-checkins-container::-webkit-scrollbar-track {
    background: #444;
    border-radius: 10px;
}

.Checkins-checkins-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.Checkins-checkins-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Checkins-item {
    background-color: #d5f4f2;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Checkins-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Checkins-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
}

.Checkins-status.red {
    background-color: red;
}

.Checkins-status.yellow {
    background-color: yellow;
}

.Checkins-status.green {
    background-color: green;
}

.Checkins-item p {
    margin: 5px 0;
    font-size: 16px;
    color: #2a2a2a; /* Text color for the item */
}

.Checkins-status-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Checkins-date {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 14px;
    margin-top: 5px;
}

.Checkins-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.Checkins-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Checkins-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.Checkins-close:hover,
.Checkins-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
