/* src/components/VenderBonoPopup.css */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px; /* Añade padding para que no se pegue a los bordes */
}

.popup-content {
    background-color: white;
    padding: 30px; /* Aumenta el padding para mayor espacio interior */
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    width: 95%; /* Aumenta el ancho al 95% del viewport */
    max-width: 900px; /* Establece el mismo ancho máximo */
}

.popup-content h2 {
    margin-top: 0;
    font-size: 24px; /* Aumenta el tamaño de la fuente */
    margin-bottom: 20px; /* Añade espacio debajo del título */
}

.popup-content form {
    display: flex;
    flex-direction: column;
}

.popup-content label {
    margin-top: 15px; /* Aumenta el margen superior */
    font-weight: bold;
    margin-bottom: 10px; /* Añade margen inferior para separar del input */
}

.popup-content select,
.popup-content input {
    margin-top: 8px; /* Aumenta ligeramente el margen superior */
    padding: 12px; /* Aumenta el padding para mayor comodidad */
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordes más redondeados */
    box-sizing: border-box;
}

.popup-content .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; /* Aumenta el margen superior */
    gap: 15px; /* Añade espacio entre los botones */
}

.popup-content .buttons button {
    flex: 1; /* Asegura que ambos botones tengan el mismo tamaño */
    padding: 12px 25px; /* Aumenta el padding para botones más cómodos */
    border: none;
    border-radius: 6px; /* Bordes más redondeados */
    cursor: pointer;
    font-size: 16px; /* Aumenta el tamaño de la fuente para mayor legibilidad */
}

.popup-content .buttons button[type="button"] {
    background-color: #007bff;
    color: white;
}

.popup-content .buttons button[type="button"]:hover {
    background-color: #0056b3;
}

.popup-content .buttons button[type="submit"] {
    background-color: #007bff;
    color: white;
}

.popup-content .buttons button[type="submit"]:hover {
    background-color: #0056b3;
}

.precio {
    margin-top: 25px; /* Aumenta el margen superior */
}

#nombrePaciente {
    margin-bottom: 20px; /* Mantiene un margen inferior adecuado */
}
