.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 95%;
    max-width: 900px;
}

.popup-content h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left; /* Asegura que el label esté alineado a la izquierda */
}

.form-group input,
.form-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

.buttons {
    grid-column: span 3; 
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    padding: 12px 25px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff;
    color: white;
}

.buttons button[type="button"]:hover {
    background-color: #0056b3;
}
