:root {
    --background-light: #f8f1ec;
    --background-dark: #333333;
    --text-light: #000000;
    --text-dark: #ffffff;
    --secondary-light: #ddd;
    --secondary-dark: #555;
  }
  
  .modaaal {
      display: block;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
  }
  
  .modaaal-content {
      margin: 15% auto;
      padding: 20px;
      width: 80%;
      max-width: 500px;
      border-radius: 5px;
      position: relative;
  }
  
  .modaaal-content.light {
      background-color: var(--background-light);
      border: 1px solid var(--secondary-light);
      color: var(--text-light);
  }
  
  .modaaal-content.dark {
      background-color: var(--background-dark);
      border: 1px solid var(--secondary-dark);
      color: var(--text-dark);
  }
  
  .close {
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  
  .close.light {
      color: var(--text-light);
  }
  
  .close.dark {
      color: var(--text-dark);
  }
  
  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  
  .campo-select label {
      display: block;
      margin-bottom: 10px;
  }
  
  label.light {
      color: var(--text-light);
  }
  
  label.dark {
      color: var(--text-dark);
  }
  
  input.light {
      border: 1px solid var(--secondary-light);
      background-color: var(--background-light);
      color: var(--text-light);
  }
  
  input.dark {
      border: 1px solid var(--secondary-dark);
      background-color: var(--background-dark);
      color: var(--text-dark);
  }
  