.navbar {
  padding: 0;
  margin-left: 5px;
}

.dropdownToggle,
.btnPrimary {
  margin-right: 10px;
}

.container {
  margin-top: 20px;
}

.topContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 93%; /* Cambiar a 100% para ocupar todo el ancho del contenedor padre */
  padding-left: 0; /* Asegurar que no haya padding que desplace el contenido */
  box-sizing: border-box; /* Incluir padding y border en el tamaño total */
}

.calendarContainer {
  margin-left: 0; /* Asegurar que no haya margen a la izquierda */
  width: 100%; /* Ocupa todo el ancho disponible */
  background-color: #343a40b6;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 15px;
  padding-bottom: 10px;
  border: 1px #343a40 solid;
  margin-top: 50px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Asegurar que ocupe todo el ancho */
  margin-left: 0; /* Eliminar margen izquierdo */
  background-color: #343a40b6;
  border: 1px #343a40 solid;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleContainer {
  display: flex;
  align-items: center;
}
.previewButton {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
background-color: transparent;
  padding: 0 12px;
  color: rgb(6, 10, 34);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewButton:hover {
  background-color: transparent;
}



.weekHeader {
  margin: 0;
  flex-grow: 1;
  margin-left: 2%;
  margin-right: 0;
}

.editButtons {
  display: flex;
  gap: 10px;
  margin-right: 2%;
}

.saveButtonTop {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.saveButtonTop:hover {
  background: linear-gradient(to right, #0056b3, #0086ff);
}

.editButton {
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px 10px;
  cursor: pointer;
}

.weekContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(213, 7, 7, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}
/* Estilos para la tarjeta en el tema claro */
.EditRoutinePage_dayCard__xSbZz.EditRoutinePage_light__EktcV.card {
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
  border: 1px solid #dddddd; /* Borde gris claro */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para la tarjeta en el tema oscuro */
.EditRoutinePage_dayCard__xSbZz.EditRoutinePage_dark__uYfkZ.card {
  background-color: #2b2b2b; /* Fondo oscuro */
  color: #f0f0f0; /* Texto claro */
  border: 1px solid #444444; /* Borde gris oscuro */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dayCard {
  margin-right: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  flex: 0 0 auto;
  width: 30vw; /* Cambiado de px a vw para que sea un 50% del ancho de la pantalla */
  position: relative;
  margin-top: 40px;
  background-color: #000;
}

.sessionCard {
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 2px;
  position: relative;
  background-color: #a7a7a771 !important;
}

.exerciseCard {
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff;
}

.btnAdd {
  margin-top: 10px;
}

.btnAddDay, .btnAddSession, .btnAddExercise, .btnAddMovement {
  position: absolute;
  background: none;
  border: none;
  color: #007bff;
  font-size: 1.5rem;
  cursor: pointer;
}

.btnAddDay {
  position: absolute;
  background: none;
  border: none;
  color: #007bff;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
}

.btnAddSession, .btnDeleteSession {
  position: absolute;
  top: 10px;
  background: none;
  border: none;
  color: #007bff;
  font-size: 1.5rem;
  cursor: pointer;
}

.btnAddSession {
  right: 10px;
}

.btnDeleteSession {
  right: 40px;
}

.btnAddExercise {
  top: 10px;
  right: 10px;
}

.btnAddMovement {
  display: block;
  margin-top: 10px;
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  position: relative;
  right: auto;
  top: auto;
  margin-top: 15px;
}

.activityContainer {
  border: 0;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #ffffff;
}

.activityHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.setMode {
  color: #f45c43;
  background-color: #ffe6e6;
  padding: 5px 10px;
  border-radius: 4px;
}

.circuitMode {
  color: #28a745;
  background-color: #e6ffe6;
  padding: 5px 10px;
  border-radius: 4px;
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  font-weight: bold;
}

.modal-header, .modal-body, .modal-footer, .modal-content {
  background-color: #343a40;
  color: white;
}

.btn-primary {
  background-color: #f45c43;
  border: none;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
}

.schemeSelect, .intensitySelect, .roundsSelect {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.formInline {
  display: flex;
  justify-content: space-between;
}

.formInline .formGroup {
  flex: 1;
  margin-right: 10px;
}

.formInline .formGroup:last-child {
  margin-right: 0;
}

.navButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.navButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #007bff;
}

.navButton.left {
  margin-right: auto;
}

.navButton.right {
  margin-left: auto;
}

.exerciseItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.exerciseItem img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.modal {
  max-width: 90%;
}

.saveButton, .editButton, .loadButton {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.saveButton:hover, .editButton:hover, .loadButton:hover {
  background: linear-gradient(to right, #0056b3, #0086ff);
}

.fileInput {
  display: none;
}
.checkboxContainer {
  margin-bottom: 81px; /* Add some space below the checkbox */
}


.loadButton {
  padding: 10px 20px;
  cursor: pointer;
}

.weekEdit {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 25%;
  align-items: flex-start;
}

.btnDeleteDay {
  margin-left: 10px;
  color: #007bff;
  background: none;

}

.btnDeleteActivity {
  background: none;
  border: none;
  color: #007bff;
  font-size: 1.5rem;
  cursor: pointer;
}

.btnDeleteActivity:hover {
  color: #0056b3;
}

.topButtons {
  display: flex;
  justify-content: flex-start; /* Alinea los botones a la izquierda */
  gap: 10px;
  margin-bottom: -5px;
  margin-top: 10px;
  margin-left: 10vh;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

/* Agrega estos estilos a tu archivo EditRoutinePage.module.css */

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 5px;
  width: 100%;
  padding-right: 40px; /* Espacio suficiente para el icono */

  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}
.btnCSV {
  background: none;
  border: none;
  color: #007bff;
  font-size: 1rem;
  cursor: pointer;
}
.btnAdd {
  background: none;
  border: none;
  color: #007bff;
  font-size: 2rem;
  cursor: pointer;
}
.Contenedorrutinasmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw; /* Cambiar a 100vw para ocupar todo el ancho de la ventana */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  padding: 20px;
  box-sizing: border-box;
  background-color: #f4f4f4; /* Color de fondo opcional */
}
.container {
  flex: 1; /* Permite que el contenedor ocupe la mayor parte del espacio disponible */
  width: 95%; /* Ajusta el ancho del contenido para que ocupe todo el ancho disponible */
  margin-top: 20px;
  overflow-y: auto; /* Permite que el contenido sea desplazable si es necesario */
  background-color: #ffffff; /* Color de fondo para el contenido */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
}
/* Botón para previsualizar la rutina */
.btnPreviewRoutine {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  padding: 0 12px;
  color: rgb(6, 10, 34);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPreviewRoutine:hover {
  background-color: transparent;
}

/* Botón para añadir una rutina */
.btnAddRoutine {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btnAddRoutine:hover {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
}

/* Botón para eliminar un día de la rutina */
.btnDeleteRoutineDay {
  background-color: transparent;
  color: #ff4d4d;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.btnDeleteRoutineDay:hover {
  background-color: transparent;
  color: #ff0000;
}

/* Botón para añadir una sesión */
.btnAddSession {
  background-color: #28a745;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnAddSession:hover {
  background-color: transparent;
  color: #28a745;
  border: 1px solid #28a745;
}

/* Contenedor para el botón de añadir sesión */
.btnAddSessionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnToggleContent {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.btnToggleContent:hover {
  background-color: transparent;
  color: #007bff;
}
.suggestionsDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.btnToggleContent {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
/* Estilo para el contenedor que se expande */
.collapsibleContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}

/* Estilo cuando el contenido está visible */
.collapsibleContentVisible {
  max-height: 500px; /* Ajusta este valor según el contenido máximo esperado */
  opacity: 1;
  transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}
/* Estilos para el tema claro */
.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.light .headerContainer {
  background-color: var(--background-light);
  color: var(--header-text-light);
}

.light .saveButtonTop,
.light .editButton,
.light .loadButton {
  background-color: var(--button-bg-light);
  border: 1px solid var(--button-border-light);
  color: var(--button-text-light);
}

.light .calendarContainer {
  background-color: var(--primary-light);
  border-color: var(--secondary-light);
}

/* Estilos para el tema oscuro */
.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.dark .headerContainer {
  background-color: #362d2d;
  color: var(--header-text-dark);
}

.dark .saveButtonTop,
.dark .editButton,
.dark .loadButton {
  background-color: var(--button-bg-dark);
  border: 1px solid var(--button-border-dark);
  color: var(--button-text-dark);
}

.dark .calendarContainer {
  background-color: var(--primary-dark);
  border-color: var(--secondary-dark);
}

/* Aplicar estilos a botones específicos */
.light .btnPrimary {
  background-color: var(--create-button-bg-light);
}

.dark .btnPrimary {
  background-color: var(--create-button-bg-dark);
}

/* Estilos adicionales para inputs de búsqueda */
.light .searchInput {
  background-color: var(--search-button-bg-light);
  border: 1px solid var(--search-button-border-light);
  color: var(--search-button-text-light);
}

.dark .searchInput {
  background-color: var(--search-button-bg-dark);
  border: 1px solid var(--search-button-border-dark);
  color: var(--search-button-text-dark);
}

/* Ajustes adicionales para los botones en el tema oscuro */
.dark .btnAddRoutine {
  background-color: #0056b3;
  color: #ffffff;
}

.dark .btnAddRoutine:hover {
  background-color: #004494;
  color: #ffffff;
}

.dark .btnDeleteRoutineDay {
  color: #ff4d4d;
}

.dark .btnDeleteRoutineDay:hover {
  color: #ff0000;
}