/* DetailedPlanes.css */

/* Contenedor principal para tomar la altura completa */
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
}

/* Contenedor principal para el navbar y el contenido principal */
.main-container {
  display: flex;
  width: 100%;
}

/* Sidebar/Navbar */
.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

/* Contenido principal */
.main-content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  background-color: #f0f0f0;
}

.detailed-planes-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.detailed-planes {
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-height: calc(100% - 80px);
  overflow-y: auto;
  margin-left: 10%;
  position: relative;
  z-index: 1001;
  background-color: var(--background-light);
  color: var(--text-dark);
}

.detailed-planes.light {
  background: var(--background-light);
  color: var(--text-light);
}

.detailed-planes.dark {
  background: var(--background-dark);
  color: var(--text-dark);
}

.detailed-planes .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.detailed-planes .close-btn.light {
  color: var(--text-light);
}

.detailed-planes .close-btn.dark {
  color: var(--text-dark);
}

.detailed-planes-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailed-metrics-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 12px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.detailed-metrics-grid.light {
  background: #5980b9;
}

.detailed-metrics-grid.dark {
  background-color: var(--secondary-dark);
}

.metrics-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 10px;
}

.close-modal-btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}

.close-modal-btn.light {
  background: var(--button-bg-light);
  color: var(--button-text-light);
}

.close-modal-btn.dark {
  background: var(--button-bg-dark);
  color: var(--button-text-dark);
}

.close-modal-btn:hover {
  background: #ff1c1c;
}

.theme-toggle-btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #444444;
  margin-top: 20px;
}

.theme-toggle-btn.light {
  background: var(--button-bg-light);
  color: var(--button-text-light);
}

.theme-toggle-btn.dark {
  background: var(--button-bg-dark);
  color: var(--button-text-dark);
}
