.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #1c1c1e;
  padding: 30px; /* Aumenta el padding para un mejor uso del espacio */
  border-radius: 12px;
  color: #fff;
  width: 90%; /* Hace que el pop-up use el 90% del ancho del viewport */
  max-width: 800px; /* Establece un ancho máximo para pantallas grandes */
  min-width: 500px; /* Establece un ancho mínimo para evitar que sea muy estrecho */
  position: relative;
}

.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
