:root {
  --background-light: #f8f1ec; /* Fondo claro */
  --background-dark: #333333; /* Fondo oscuro */
  --text-light: #000000; /* Texto en modo claro */
  --text-dark: #ffffff; /* Texto en modo oscuro */
  --primary-light: #d9bfae; /* Cabecera y botones claros */
  --primary-dark: #4a4a4a; /* Cabecera y botones oscuros */
  --secondary-light: #ddd; /* Bordes y detalles claros */
  --secondary-dark: #555; /* Bordes y detalles oscuros */

  --button-bg-light: #ffffff; /* Fondo del botón en modo claro */
  --button-border-light: #000000; /* Borde del botón en modo claro */
  --button-text-light: #000000; /* Texto del botón en modo claro */
  
  --button-bg-dark: #444444; /* Fondo del botón en modo oscuro */
  --button-border-dark: #ffffff; /* Borde del botón en modo oscuro */
  --button-text-dark: #ffffff; /* Texto del botón en modo oscuro */

  --header-bg-light: #ddd; /* Fondo del encabezado en modo claro */
  --header-bg-dark: #444444; /* Fondo del encabezado en modo oscuro */
  --header-text-light: #000; /* Texto del encabezado en modo claro */
  --header-text-dark: #fff; /* Texto del encabezado en modo oscuro */

  --search-button-bg-light: #fff; /* Fondo del botón de búsqueda en modo claro */
  --search-button-border-light: #000; /* Borde del botón de búsqueda en modo claro */
  --search-button-text-light: #000; /* Texto del botón de búsqueda en modo claro */
  
  --search-button-bg-dark: #444; /* Fondo del botón de búsqueda en modo oscuro */
  --search-button-border-dark: #fff; /* Borde del botón de búsqueda en modo oscuro */
  --search-button-text-dark: #fff; /* Texto del botón de búsqueda en modo oscuro */

  --create-button-bg-light: #09BC8A; /* Fondo del botón Crear Dieta en modo claro */
  --create-button-bg-dark: #006B5A; /* Fondo del botón Crear Dieta en modo oscuro */

  --form-bg-light: #f8f9fa; /* Fondo del formulario en modo claro */
  --form-bg-dark: #444444; /* Fondo del formulario en modo oscuro */
--form-bg: #f8f1ec;
  --input-bg-light: #ffffff; /* Fondo de los inputs en modo claro */
  --input-bg-dark: #666666; /* Fondo de los inputs en modo oscuro */
  --input-border-light: #000000; /* Borde de los inputs en modo claro */
  --input-border-dark: #ffffff; /* Borde de los inputs en modo oscuro */
  --input-text-light: #000000; /* Texto de los inputs en modo claro */
  --input-text-dark: #ffffff; /* Texto de los inputs en modo oscuro */
}

body.light {
  --background: var(--background-light);
  --text: var(--text-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --button-bg: var(--button-bg-light);
  --button-border: var(--button-border-light);
  --button-text: var(--button-text-light);
  --header-bg: var(--header-bg-light);
  --header-text: var(--header-text-light);
  --search-button-bg: var(--search-button-bg-light);
  --search-button-border: var(--search-button-border-light);
  --search-button-text: var(--search-button-text-light);
  --create-button-bg: var(--create-button-bg-light);
  --form-bg: var(--form-bg-light);
  --input-bg: var(--input-bg-light);
  --input-border: var(--input-border-light);
  --input-text: var(--input-text-light);
}

body.dark {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --button-bg: var(--button-bg-dark);
  --button-border: var(--button-border-dark);
  --button-text: var(--button-text-dark);
  --header-bg: var(--header-bg-dark);
  --header-text: var(--header-text-dark);
  --search-button-bg: var(--search-button-bg-dark);
  --search-button-border: var(--search-button-border-dark);
  --search-button-text: var(--search-button-text-dark);
  --create-button-bg: var(--create-button-bg-dark);
  --form-bg: var(--form-bg-dark);
  --input-bg: var(--input-bg-dark);
  --input-border: var(--input-border-dark);
  --input-text: var(--input-text-dark);
}

.listadeclasesContainer {
  margin: 20px;
}

.crearClaseBtn,
.editarBtn,
.asociarClientesBtn,
.crearSesionBtn {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.buscarClaseInput {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.clasesTable {
  width: 100%;
  border-collapse: collapse;
}

.clasesTable th,
.clasesTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.clasesTable th {
  background-color: var(--header-bg);
  color: var(--header-text);
  text-align: left;
}

.borrarBtn {
  background-color: transparent;
  color: #dc3545;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.clientesList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clientesList li {
  background-color: #f8f9fa;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteIcon {
  color: #dc3545;
  cursor: pointer;
}

.formularioCrearClase {
  background-color: var(--form-bg);
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.formularioCrearClase h2 {
  margin-top: 0;
  background-color: var(--header-bg);
  color: var(--header-text);
  padding: 10px;
  border-radius: 5px;
}

.formularioCrearClase label {
  display: block;
  margin-bottom: 10px;
}

.formularioCrearClase input,
.formularioCrearClase select,
.formularioCrearClase textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: var(--input-bg);
  color: var(--input-text);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

/* Modo claro */
body.light .formularioCrearClase input,
body.light .formularioCrearClase select,
body.light .formularioCrearClase textarea {
  border: 1px solid var(--input-border-light);
}

/* Modo oscuro */
body.dark .formularioCrearClase input,
body.dark .formularioCrearClase select,
body.dark .formularioCrearClase textarea {
  border: 1px solid var(--input-border-dark);
}

.formularioCrearClase button {
  background-color: var(--create-button-bg);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.formularioCrearClase button:last-child {
  background-color: #dc3545;
}

/* Estilos para el modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que el modal esté por encima de otros elementos */
}

.modalContent {
  background-color: var(--background); /* Fondo del formulario adaptado al tema */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar efecto de ventana flotante */
  max-width: 500px; /* Ancho máximo del modal */
  width: 100%; /* Ancho del modal */
  z-index: 1001;
}

.modalContent h2 {
  margin-top: 0;
  color: var(--header-text);
  padding: 10px;
  border-radius: 5px;
}

.modalContent label {
  display: block;
  margin-bottom: 10px;
}

.modalContent input,
.modalContent select,
.modalContent textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: var(--input-bg);
  color: var(--input-text);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.modalContent button {
  background-color: var(--create-button-bg);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.modalContent button:last-child {
  background-color: #dc3545;
}
