/* Modal overlay with adjusted positions to respect the navbar */

/* Estilos para el tema claro */
.detailed-documento-content.light {
  background: var(--background-light);
  color: var(--text-light);
}

/* Estilos para el tema oscuro */
.detailed-documento-content.dark {
  background: var(--background-dark);
  color: var(--text-dark);
}

/* Estilos del botón de cierre */
.close-modal-btn {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}

.close-modal-btn:hover {
  background: var(--button-hover-bg);
}

/* Otros estilos de botones */
.program-alarm-btn,
.set-alarm-btn {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.close-alarm-popup-btn {
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 8px 9px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 10px;
}

.close-modal-btn:hover,
.program-alarm-btn:hover,
.close-alarm-popup-btn:hover,
.set-alarm-btn:hover {
  background: var(--button-hover-bg);
}

/* Estilo específico para el botón de alarma */
.program-alarm-btn {
  align-self: center;
  width: 500px;
  margin-top: 50px;
}

/* Estilos del popup de alarma */
.alarm-popup {
  position: fixed;
  top: 110px;
  right: calc(10% + 250px); /* Ajuste para considerar el navbar */
  width: 300px;
  background: var(--background);
  border: 1px solid var(--button-border);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  color: var(--text);
}

/* Estilos del contenido del popup */
.alarm-popup h3 {
  margin-top: 0;
}

.alarm-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.alarm-popup li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--button-border);
}

.alarm-popup li:last-child {
  border-bottom: none;
}
