/* widget-Documentos.css */
.uniquePrefix-Documentos-widget {
  padding: 10px;
  background: var(--background);
  color: var(--text);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.uniquePrefix-Documentos-widget h2 {
  cursor: pointer;
  color: rgb(230, 126, 34);
}

.uniquePrefix-Documentos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.uniquePrefix-Documentos-table th, .uniquePrefix-Documentos-table td {
  padding: 12px;
  text-align: left;
}

.uniquePrefix-Documentos-table th {
  background: var(--primary);
  color: var(--text);
  border-bottom: 2px solid var(--secondary);
}

.uniquePrefix-Documentos-table td {
  background: var(--secondary);
  border-bottom: 1px solid var(--primary);
}

.uniquePrefix-Documentos-table tr:hover td {
  background: var(--button-hover-bg);
}

.uniquePrefix-Documentos-filter-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10px;
  position: relative;
}

.uniquePrefix-Documentos-filter-input {
  padding: 8px;
  background: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  width: 200px;
  height: 40px;
}

.uniquePrefix-Documentos-filter-select {
  background: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  height: 40px;
  width: 125px;
  padding-top: 6px;
}

.uniquePrefix-Documentos-dropdown-button {
  padding: 3px;
  background: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin-top: 4px;
}

.uniquePrefix-Documentos-dropdown-content {
  display: block;
  position: absolute;
  background-color: var(--button-bg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 8px;
  border-radius: 5px;
  top: 40px;
  right: 0;
}

.uniquePrefix-Documentos-dropdown-item {
  display: block;
  margin-bottom: 8px;
}

.uniquePrefix-Documentos-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.uniquePrefix-Documentos-pagination-button {
  padding: 8px;
  background: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  cursor: pointer;
}

.uniquePrefix-Documentos-pagination-button:disabled {
  cursor: not-allowed;
}

.uniquePrefix-Documentos-pagination-info {
  align-self: center;
  color: var(--text);
}

.uniquePrefix-Documentos-action-button {
  padding: 4px 8px;
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.uniquePrefix-Documentos-action-button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-text);
}

.uniquePrefix-Documentos-action-dropdown {
  position: relative;
  display: inline-block;
}

.uniquePrefix-Documentos-action-content {
  display: block;
  position: absolute;
  background-color: var(--button-bg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 8px;
  border-radius: 5px;
  top: 20px;
  right: 0;
}

.uniquePrefix-Documentos-action-item {
  padding: 8px;
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.uniquePrefix-Documentos-action-item:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-text);
}
